<footer class="footer bg-primary text-white">
  <container>
    <div class="row">
      <div class="col-12">
        <p class="text-center m-0">
          Copyright &copy; 2019 <a class="footer-link" href="https://www.olen.dev">Olen Daelhousen</a>
        </p>
      </div>
    </div>
  </container>
</footer>