{{>navbar}}

<div class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container">
    <h1 class="display-4">Artvoice Edition</h1>
    <p class="lead">Alternative Weekly from Buffalo, New York</p>
  </div>
</div>
<div class="container">
  {{#each articles}}
    <div id="js-{{_id}}" class="row">
      <div class="col-8 sm">
        {{title}}
      </div>
      <div class="col-2 sm">
        <button type="button" class="btn btn-primary btn-block btn-read-article" data-article-url="{{link}}">Read Article</button>
      </div>
      <div class="col-2 sm">
        <button type="button" class="btn btn-info btn-block btn-save-article" data-article-id="{{_id}}">Save Article</button>
      </div>
    </div>
  {{/each}}
</div>

<script src="/assets/js/index.js"></script>
