{{>navbar}}

<div class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container">
    <h1 class="display-4">Artvoice Edition</h1>
    <p class="lead">Saved Articles</p>
  </div>
</div>
<div class="container">
  {{#each articles}}
    <div id="js-{{_id}}" class="row">
      <div class="col-10 sm">
        {{title}}
      </div>
      <div class="col-2 sm">
        <button type="button" class="btn btn-info removeBtn" data-article-id="{{_id}}">Remove Saved Article</button>
      </div>
    </div>
  {{/each}}
</div>
